<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eprescription.tcc.ufam.com.e_prescription">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PatientHomeActivity"
            android:label="@string/title_activity_patient_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.CreatePatientAccountActivity" />
        <activity android:name=".Activities.CreateDoctorAccountActivity" />
        <activity
            android:name=".Activities.PatientHomeBottomActivity"
            android:label="@string/title_activity_patient_home_botton" />
        <activity android:name=".Activities.MakeAppointmentActivity" />
        <activity android:name=".Activities.AddMedicineActivity" />
        <activity
            android:name=".Activities.DoctorHomeActivity"
            android:label="@string/title_activity_doctor_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PrescriptionActivity"
            android:label="@string/title_activity_prescription"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.MedicineActivity" />
        <activity
            android:name=".Activities.TestTabActivity"
            android:label="@string/title_activity_test_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.PatientPrescriptionListsActivity" />
        <activity android:name=".Activities.PatientPrescriptionActivity" />
        <activity android:name=".Activities.TakeMedicineActivity"></activity>
        <receiver android:name=".Util.NotificationUpdate"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>